@{
    ViewData["Title"] = "Home Page";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Elastic Search</h1>
        @*<p class="lead font-weight-normal">*@
            <blockquote class="blockquote" cite="https://www.borakasmer.com/elasticsearch-nedir/">
        <p class="mb-0">
            ElasticSearch, BigData yani büyük veriler ile çalışan şirketlerin, adından da anlaşılacağı gibi içerik arama, veri analizi, soruglamalar ve öneriler gibi işlemlerde özellikle performans kabiliyetleri, güçlü ve esnek olmasından dolayı tercih ettiği bir search engine’dir.
        </p>
        <footer class="blockquote-footer"> <cite title="Source Title">Bora Kaşmer</cite></footer>
        </blockquote>
        @*</p>*@
        <a class="btn btn-outline-secondary" href="/Home/PersonList">Start Search</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
