@{
    ViewData["Title"] = "Upload File";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    @using (Html.BeginForm("PersonUploads", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-2 mr-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Template File
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="~/Template/Template.csv" target="_blank">Template.csv</a>
                    </div>
                </div>
            </div>
            <div class="custom-file col-8">
                <input type="file" class="custom-file-input" id="uploadFile" name="uploadFile" accept=".csv" placeholder="Upload Person List">
                <label class="custom-file-label" for="uploadFile"></label>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-danger"> Save </button>
            </div>
        </div>

    }
</div>
